<ion-view view-title="Account">
  <ion-content>

  <ion-list class="list" >
    <li class="item">
      <button class="button button-clear button-dark">
  		Records
	  </button>
    </li>
    <li class="item">
      <button class="button button-clear button-dark">
  		Appointments
	  </button>
    </li>
    <li class="item">
      <button class="button button-clear button-dark">
  		Insurance
	  </button>
    </li>
    <li class="item">
      <button class="button button-clear button-dark">
  		Billing
	  </button>
    </li>
   
   </ion-list>


  </ion-content>
</ion-view>
