<ion-view view-title="Dashboard">
  <ion-content >
     <a class="item item-avatar" href="#">
      <img ng-src="{{user.face}}">
      <h2>Hello, {{ user.firstName }} {{ user.lastName }}</h2>
    </a>
    </br>
    <ion-list class="list" >
    <li class="item">
      <div>
      	<div>
      	Your blood test reports are ready. 
      	</div> 

      </div>
       <li class="item">
      <div>
      	<div>
      	Your blood pressure is high .</br>
      	You should visit doctor immediately. 
      	</div> 
      </div>
    </li>
    </ion-list>
  </ion-content>
</ion-view>
